# Node.js
node_modules/
.env
.DS_Store
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json
# Logs
logs
*.log
pids
*.pid
*.seed
*.pid.lock
# OS
Thumbs.db
Desktop.ini
# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
